.messages .log  {
  height: 300px;
  overflow-y: auto;
}

.messages .log ol  {
  list-style-type: none;
}

.insert_desc #qw1 {
  height: 10px;
}

.insert_desc #message_input_text {
  width: 100%;
}

.insert_desc input[value="Send"] {

}
